@import 'responsive';

$width: 30vw;
$basic_color:#4C7A62;
$basic_border: 2px solid #222;
$ivory: #f6f4f2;
$yellow: #ffd02c;
$maroon : #49403B;
$green : #31422e;
$othergreen: #4C7A62;

@mixin border {
  border: $basic_border;
}

@mixin item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin icons-align {
  background-color: #000;
  text-align: center;

  &:hover {
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
  }

  &:hover img {
    transform: translate(0, -58px);
  }

  img {
    margin: 7.5px 0;
    width: 25px;
    height: 25px;
  }
}



@mixin mobile-icons-align () {
  background-color: #000;
  text-align: center;

  &:hover {
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
  }

  &:hover img {
    transform: translate(0, -58px);
  }

  img {
    margin: 7.5px 0;
    width: 25px;
    height: 25px;
  }
}



@keyframes sparkleAni {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@mixin animation {
  animation-name: sparkleAni;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

section {

  @include desktop {
    .sparkle1 {
      position: absolute;
      top: 120px;
      left: 20%;
      width: 100px;
      transform: perspective(200px) translateZ(20px);
      @include animation;
    }
  
    .sparkle2 {
      position: absolute;
      bottom: 80px;
      left: 50px;
      width: 40px;
      transform: perspective(100px) translateZ(20px);
      @include animation;
    }
  
    .header {
      width: 100%;
      height: 12vh;
      border-bottom: $basic_border;
      display: flex;
  
      .logo {
        display: inline-block;
        flex-basis: 20vw;
        width: 20vw;
        height: 100%;
        text-align: center;
        border-right: $basic_border;
        @include item-center;
        background-color: transparent;
        position: relative;
  
        .background {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: repeat(1fr, 3);
  
          span:nth-child(odd) {
            background-color: $basic_color;
            box-sizing: border-box;
          }
          
          span:nth-child(even) {
            background-color:transparent;
            box-sizing: border-box;
          }
        }
  
        h1 {
          color: #fff;
          font-weight: 900;
          letter-spacing: 1px;
          font-family: "Shrikhand", cursive;
          -webkit-text-stroke: 1px #000;
          position: relative;
          z-index: 98;
          font-size: 2.3rem;
  
          p:nth-child(1){
            position: relative;
            top:10px;
          }
  
          p:nth-child(2){
            position: relative;
            top:-10px;
          }
  
        }
      }
  
      .greeting {
        flex-basis: 60vw;
        width: 60vh;
        height: 100%;
        line-height: 12vh;
        text-indent: 20px;
        overflow: hidden;
  
        span {
          width: 100%;
          height: 100%;
          font-weight: 700;
          letter-spacing: 1px;
          font-size: 1.3rem;
        }
      }
    }
  
    .profile {
      width: 100%;
      height: 82.7vh;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      gap: 20px;
  
      .profileImg {
        flex-basis: $width;
        flex-shrink: 0;
        width: 30vw;
        height: 80%;
        margin: 40px 20px;
        border-radius: 50%;
        border: 2px solid #222;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .introduce {
        flex-basis: calc(65vw - 120px);
        width: calc(65vw - 120px);
        height: calc(82.7vh - 124px);
        border-left: $basic_border;
        padding: 60px;
        line-height: 1.5rem;
        font-size: 1.08rem;
  
        h2 {
          font-size: 1.9rem;
          width: 150px;
          line-height: 3rem;
          letter-spacing: 1px;
          margin: 30px 0;
        }
  
        p {
          margin: 10px 0;
  
          &:first-child{
            width:fit-content;
            background-color:$yellow;
            color:$maroon; 
            font-size: 1.2rem;
          }
        }
  
        ul {
          width: 100%;
          height: auto;
          margin: 30px 0 10px 12px;
  
          li {
            width: 100%;
            height: 30px;
            margin: 5px 0;
          }
        }
  
        .sns {
          width: 100%;
          height: 40px;
          margin-top: 20px;
          display: flex;
          align-items: center;
  
          .icons {
            width: 40px;
            height: 100%;
            margin-right: 10px;
            border-radius: 5px;
            overflow: hidden;
  
            &.velog:hover {
              background-color: #000;
              border: 2px solid #000;
              box-sizing: border-box;
            }
  
            &.velog:hover img {
              width: 105%;
              height: 105%;
              transform: translate(-1px, -55px);
            }
  
            a {
              width: 100%;
              height: 100%;
              display: block;
              line-height: 40px;
  
              img {
                width: 100%;
                height: auto;
                object-fit: contain;
              }
            }
  
            &.github {
              @include icons-align();
            }
  
            &.email {
              @include icons-align();
            }
          }
        }
      }
    }
  }

  @include tablet {

    .sparkle1 {
      position: absolute;
      top: 22%;
      left: 60%;
      width: 100px;
      transform: perspective(200px) translateZ(20px);
      @include animation;
    }
  
    .sparkle2 {
      position: absolute;
      top: 50%;
      left: 30%;
      width: 40px;
      transform: perspective(100px) translateZ(20px);
      @include animation;
    }
  
    $header_height: 16vh;
    .header {
      width: 100%;
      height: $header_height;
      border-bottom: $basic_border;
      display: flex;
      flex-flow:column nowrap;

  
      .logo {
        display: inline-block;
        flex-basis: calc($header_height / 2);
        width: 100%;
        height: calc($header_height / 2);
        text-align: center;
        border-bottom: $basic_border;
        @include item-center;
        background-color: transparent;
        position: relative;
  
        .background {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: repeat(1fr, 3);
  
          span:nth-child(odd) {
            background-color: $basic_color;
            box-sizing: border-box;
          }
          
          span:nth-child(even) {
            background-color:transparent;
            box-sizing: border-box;
          }
        }
  
        h1 {
          color: #fff;
          font-weight: 900;
          letter-spacing: 1px;
          font-family: "Shrikhand", cursive;
          -webkit-text-stroke: 1px #000;
          position: relative;
          z-index: 98;
          font-size: 2.3rem;
  
          p:nth-child(1){
            position: relative;
            top:10px;
          }
  
          p:nth-child(2){
            position: relative;
            top:-10px;
          }
  
        }
      }
  
      .greeting {
        flex-basis: calc($header_height / 2);
        width: 100%;
        height: calc($header_height / 2);
        line-height: calc($header_height / 2);
        text-indent: 20px;
        overflow: hidden;
        text-align: center;
  
        span {
          width: 100%;
          height: 100%;
          font-weight: 700;
          letter-spacing: 1px;
          font-size: 1.2rem;
        }
      }
    }
  
    .profile {
      width: 100%;
      height: calc(83vh - 40px);
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

  
      .profileImg {
        flex-basis: 40vh;
        flex-shrink: 1;
        width: 40%;
        height: 40vh;
        border-radius: 50%;
        border: 2px solid #222;
        overflow: hidden;
        margin: 10px auto;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .introduce {
        flex-basis: 40vh;
        width: 100%;
        height: 40vh;
        border-top: $basic_border;
        line-height: 1.5rem;
        font-size: 1.08rem;
        margin: 5px auto;
   
  
        h2 {
          font-size: 1.9rem;
          width: 150px;
          line-height: 3rem;
          letter-spacing: 1px;
          margin: 30px auto;
          text-align: center;
        }
  
        p {
          margin: 10px auto;
          text-align: center;
  
          &:first-child{
            width:fit-content;
            background-color:$yellow;
            color:$maroon; 
            font-size: 1.2rem;
          }
        }

        & > div {
          margin: 10px auto;
          
          ul {
            width: 70%;
            height: auto;
            margin: 30px auto 10px auto;
            
            li {
              width: 100%;
              height: 30px;
              margin: 5px 0;
            }
          }
        }
  
        .sns {
          width: 100%;
          height: 40px;
          margin-top: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
  
          .icons {
            width: 40px;
            height: 100%;
            margin-right: 10px;
            border-radius: 5px;
            overflow: hidden;
  
            &.velog:hover {
              background-color: #000;
              border: 2px solid #000;
              box-sizing: border-box;
            }
  
            &.velog:hover img {
              width: 105%;
              height: 105%;
              transform: translate(-1px, -55px);
            }
  
            a {
              width: 100%;
              height: 100%;
              display: block;
              line-height: 40px;
  
              img {
                width: 100%;
                height: auto;
                object-fit: contain;
              }
            }
  
            &.github {
              @include icons-align();
            }
  
            &.email {
              @include icons-align();
            }
          }
        }
      }
    }
  }
  
  @include mobile {
    position: relative;

    .sparkle1 {
      position: absolute;
      top: 15%;
      left: 60%;
      width: 60px;
      transform: perspective(200px) translateZ(20px);
      @include animation;
    }
  
    .sparkle2 {
      position: absolute;
      top: 45%;
      left: 30%;
      width: 30px;
      transform: perspective(100px) translateZ(20px);
      @include animation;
    }
  
    $header_height: 12vh;

    .header {
      width: 100%;
      height: $header_height;
      border-bottom: $basic_border;
      display: flex;
      flex-flow:column nowrap;

  
      .logo {
        display: inline-block;
        flex-basis: calc($header_height / 2);
        width: 100%;
        height: calc($header_height / 2);
        text-align: center;
        border-bottom: $basic_border;
        @include item-center;
        background-color: transparent;
        position: relative;
  
        .background {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: repeat(1fr, 3);
  
          span:nth-child(odd) {
            background-color: $basic_color;
            box-sizing: border-box;
          }
          
          span:nth-child(even) {
            background-color:transparent;
            box-sizing: border-box;
          }
        }
  
        h1 {
          color: #fff;
          font-weight: 900;
          letter-spacing: 1px;
          font-family: "Shrikhand", cursive;
          -webkit-text-stroke: 1px #000;
          position: relative;
          z-index: 98;
          font-size: 1.5rem;
  
          p:nth-child(1){
            position: relative;
            top:10px;
          }
  
          p:nth-child(2){
            position: relative;
            top:-10px;
          }
  
        }
      }
  
      .greeting {
        flex-basis: calc($header_height / 2);
        width: 100%;
        height: calc($header_height / 2);
        line-height: calc($header_height / 2);
        text-indent: 10px;
        overflow: hidden;
        text-align: center;
  
        span {
          width: 100%;
          height: 100%;
          font-weight: 700;
          letter-spacing: 1px;
          font-size: 0.8rem;
        }
      }
    }
  
    .profile {
      width: 100%;
      height: calc(75vh - 40px);
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      
  
      .profileImg {
        flex: 0 0 50%;
        width: 40%;
        height: 40vh;
        border-radius: 50%;
        border: 2px solid #222;
        overflow: hidden;
        margin: 10px auto;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .introduce {
        flex: 0 0 43vh;
        width: 100%;
        height: 43vh;
        border-top: $basic_border;
        line-height: 1.5rem;
        font-size: 0.7rem;
  
        h2 {
          font-size: 1.7rem;
          width: 150px;
          line-height: 1.8rem;
          letter-spacing: 1px;
          margin: 10px auto;
          text-align: center;
        }
  
        p {
          width: 95%;
          margin: 3px auto;
          text-align: center;
  
          &:first-child{
            width:fit-content;
            background-color:$yellow;
            color:$maroon; 
            font-size: 0.8rem;
          }
        }
  
        ul {
          width: 70%;
          height: auto;
          margin: 5px auto 0px auto;
  
          li {
            width: 100%;
            height: auto;
            margin: 3px 0;
          }
        }
        
        $mobile_sns_height: 30px;
        .sns {
          width: 100%;
          height: $mobile_sns_height;
          margin-top: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
  
          .icons {
            width: 30px;
            height: 100%;
            margin-right: 10px;
            border-radius: 5px;
            overflow: hidden;
  
            &.velog:hover {
              background-color: #000;
              border: 2px solid #000;
              box-sizing: border-box;
            }
  
            &.velog:hover img {
              width: 105%;
              height: 105%;
              transform: translate(-1px, -40px);
            }
  
            a {
              width: 100%;
              height: 100%;
              display: block;
              line-height: $mobile_sns_height;
  
              img {
                width: 100%;
                height: auto;
                object-fit: contain;
              }
            }
  
            &.github {
              background-color: #000;
              text-align: center;
            
              &:hover {
                background-color: #fff;
                border: 2px solid #000;
                box-sizing: border-box;
              }
            
              &:hover img {
                transform: translate(0, -44px);
              }
            
              img {
                margin: 5px 0;
                width: 20px;
                height: 20px;
              }
            }
  
            &.email {
              background-color: #000;
              text-align: center;
            
              &:hover {
                background-color: #fff;
                border: 2px solid #000;
                box-sizing: border-box;
              }
            
              &:hover img {
                transform: translate(0, -44px);
              }
            
              img {
                margin: 5px 0;
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
    }
  }
}
