@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-VariableFont_slnt\wght.ttf");
}

@font-face {
  font-family: NotoSans;
  src: url("../fonts/Noto_Sans_KR/NotoSansKR-Regular.otf");
}

@font-face {
  font-family: Shrikhand;
  src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf");
}

$basic_border: 2px solid #222;
$vh: var(--vh,1vh);

@mixin border {
  border-bottom: $basic_border;
}

@mixin item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: 0px;
}

html,
body {
  font-family: Inter;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 14px;
  overflow: hidden;
  background-color: #f6f4f2;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

//for swiper;
#root {
  box-sizing: border-box;

  .swiper section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-bottom: $basic_border;
    box-sizing: border-box;
  }
}

#root > .swiper {
  width: 95vw;
  height: calc(100vh - 40px);
  margin: 20px auto;
  border: $basic_border;
}

#root > .swiper .project .swiper-slide {
  flex-basis: calc(60vw + 124px);
  flex-grow: 0;
  align-self: center;
  position: relative;
}

.swiper-button-next {
  --swiper-navigation-color: black;
}

.swiper-button-prev {
  --swiper-navigation-color: black;
}
