@font-face {
   font-family: Inter;
   src:url(../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: Homemade;
    src: url(../fonts/Homemade_Apple/HomemadeApple-Regular.ttf);
}

@font-face {
    font-family: NotoSans;
    src: url(../fonts/Noto_Sans_KR/NotoSansKR-Black.otf);
}

* {
    margin: 0;
    padding: 0;
}


html,body {
    font-family: Inter;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}




