@import "responsive";

$ivory: #f6f4f2;
$yellow: #ffd02c;
$maroon: #49403b;
$othergreen: #4c7a62;
$green: #31422e;

@include desktop {
  .contact {
    width: 90%;
    height: 90%;
    padding: 3%;
    position: relative;

    .title {
      font-size: 3rem;
      text-align: center;
      color: $green;
      font-family: "Shrikhand", cursive;
    }

    .form {
      width: 100%;
      height: auto;

      div {
        width: 50%;
        margin: 10px auto;
        label {
          display: inline-block;
          font-size: 1.1rem;
          font-weight: 500;
          text-align: left;
          width: 50px;
          margin-right: 10px;
          line-height: 30px;
        }

        input {
          display: inline-block;
          height: 50px;
          width: 100%;
          text-indent: 10px;
          border: 2px solid #222;
        }
      }

      textarea {
        width: calc(50% - 20px);
        min-height: 200px;
        height: fit-content;
        display: block;
        margin: 15px auto;
        padding: 10px;
        font-family: inherit;
        resize: none;
        border: 2px solid #222;
      }

      button {
        display: block;
        margin: 15px auto;
        width: 50%;
        height: 50px;
        background-color: $green;
        color: $ivory;
        border: 2px solid #222;
      }
    }

    .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30vw;
      height: 40vh;
      background-color: $ivory;
      border: 2px solid #222;
      transform: translate(-50%, -50%);
      text-align: center;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      gap: 20px;

      h3 {
        font-size: 2.5rem;
        font-family: "Shrikhand", cursive;
        color: $green;
      }

      p {
        font-size: 1.1rem;
      }

      button {
        width: 50%;
        height: 13%;
        border: 1px solid #222;
        background-color: $green;
        color: $ivory;
        font-size: 1.1rem;
        margin-top: 20px;

        &:active {
          transform: scale(0.8);
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }
}

@include tablet {
  .contact {
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;

    .title {
      font-size: 4rem;
      line-height: 4.5rem;
      text-align: center;
      color: $green;
      font-family: "Shrikhand", cursive;
    }

    .form {
      width: 100%;
      height: auto;

      div {
        width: 65%;
        margin: 20px auto;
        label {
          display: inline-block;
          font-size: 1.1rem;
          font-weight: 500;
          text-align: left;
          width: 50px;
          margin-right: 10px;
          line-height: 30px;
        }

        input {
          display: inline-block;
          height: 50px;
          width: 100%;
          text-indent: 10px;
          border: 2px solid #222;
        }
      }

      textarea {
        width: calc(65% - 20px);
        min-height: 200px;
        height: fit-content;
        display: block;
        margin: 20px auto;
        padding: 10px;
        font-family: inherit;
        resize: none;
        border: 2px solid #222;
      }

      button {
        display: block;
        margin: 20px auto;
        width: 65%;
        height: 50px;
        background-color: $green;
        color: $ivory;
        border: 2px solid #222;
      }
    }

    .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60vw;
      height: 30vh;
      background-color: $ivory;
      border: 2px solid #222;
      transform: translate(-50%, -50%);
      text-align: center;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      gap: 20px;

      h3 {
        font-size: 2.5rem;
        font-family: "Shrikhand", cursive;
        color: $green;
      }

      p {
        font-size: 1.1rem;
      }

      button {
        width: 50%;
        height: 13%;
        border: 1px solid #222;
        background-color: $green;
        color: $ivory;
        font-size: 1.1rem;
        margin-top: 20px;

        &:active {
          transform: scale(0.8);
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }
}

@include mobile {
  .contact {
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;

    .title {
      flex: 0 1 7%;
      font-size: 2.7rem;
      line-height: 2.7rem;
      text-align: center;
      color: $green;
      font-family: "Shrikhand", cursive;
    }

    .form {
      width: 100%;
      height: auto;
      flex: 0 1 70%;

      div {
        width: 80%;
        height: auto;
        margin: 10px auto;
        label {
          display: inline-block;
          font-size: 1.1rem;
          font-weight: 500;
          text-align: left;
          width: 50px;
          margin-right: 10px;
          line-height: 30px;
        }

        input {
          display: inline-block;
          height: 50px;
          width: 100%;
          text-indent: 10px;
          border: 2px solid #222;
        }
      }

      textarea {
        width: calc(80% - 20px);
        min-height: 200px;
        height: fit-content;
        display: block;
        margin: 20px auto;
        padding: 10px;
        font-family: inherit;
        resize: none;
        border: 2px solid #222;
      }

      button {
        display: block;
        margin: 20px auto;
        width: 80%;
        height: 50px;
        background-color: $green;
        color: $ivory;
        border: 2px solid #222;
      }
    }

    .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70vw;
      height: 30vh;
      background-color: $ivory;
      border: 2px solid #222;
      transform: translate(-50%, -50%);
      text-align: center;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      gap: 20px;

      h3 {
        font-size: 2.5rem;
        font-family: "Shrikhand", cursive;
        color: $green;
      }

      p {
        font-size: 1.1rem;
      }

      button {
        width: 50%;
        height: 13%;
        border: 1px solid #222;
        background-color: $green;
        color: $ivory;
        font-size: 1.1rem;
        margin-top: 20px;

        &:active {
          transform: scale(0.8);
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }
}
