$height: 50px;
$width: 80px;


.swiper-pagination-bullet.app{
    width: $width;
    --swiper-pagination-bullet-width:$width;
    --swiper-pagination-bullet-height:$height;
    height:$height;
    line-height:40px;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    overflow: hidden;
    background-color:transparent !important;
    border-radius: 0 !important;
    border-bottom: 2px solid #333;
    text-decoration: none;
    color: #333;
    margin: 10px 0;
    cursor: pointer;
}

.swiper-pagination-bullet-active {

}

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
    right: 20px !important; 
}

