$height: 50px;
$width: 40px;

.menu {
    width: $width;
    height: 100%;
    line-height: $height;
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    overflow: hidden;
    border-right: 2px solid #333;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.swiper-pagination-bullet{
    width: $width;
    --swiper-pagination-bullet-width:$widt;
    --swiper-pagination-bullet-height:$height;
    height: 80px;
    line-height: $height;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    overflow: hidden;
    background-color:transparent !important;
    border-radius: 0 !important;
    border-bottom: 2px solid #333;
    text-decoration: none;
    color: #333;
    margin: 10px 0;
    cursor: pointer;
}

.swiper-pagination-bullet-active {

}

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
    right: 20px !important; 
}

