$height: 60px;
$width: 80px;
$ivory: #f6f4f2;
$yellow: #ffd02c;
$green : #31422e;
$othergreen: #4C7A62;

.swiper-pagination-bullet.app{
    width: $width;
    height:$height;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    line-height:$height;
    overflow: hidden;
    margin: 10px auto !important;
    border: 2px solid #222;
    text-align: center;
    border-radius:50% !important;
    text-decoration: none;
    color: $ivory;
    background:$green;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    color:#ffd02c !important;
}

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical > .swiper-pagination-bullets {
    right: 20px !important; 
}

