.swiper-pagination-bullet.project{
    width: 20px;
    height: 20px;
}

.swiper-pagination-bullet-active {

}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 30px;
}