@mixin grid {
  width: 100%;
  height: 5vh;
  box-sizing: border-box;
  position: absolute;
}

@mixin container {
    width: 100%;
    height: calc(100% - 10vh);
    position: absolute;
    top: 5vh;
}

$basic_border: 2px solid #222;

$red: #e76f51;
$yellow: #e9c46a;
$green: #8db4ad;
$orange: #f4a261;
$blue: #264653;

.page {
  width: 100%;
  height: 100%;
  position: relative;

  ul {
    list-style: none;
  }

  .gridTop {
    @include grid;
    border-bottom: $basic_border;
    top: 0;

}

.gridBottom {
    @include grid;
    border-top: $basic_border;
    bottom: 0;

  }

  .Swiper {
    height: calc(100%);
    width: 80%;
    border: $basic_border;
    border-width: 0 2px;
    position: relative;

    
  }
}
