
$header_height: 80px;
$basic_border: 2px solid #222;

.page {
  display:flex;

  .container {
    width: calc(30vw + 40px);
    height: 100%;
    border-right: $basic_border;
    position: relative;

    .skillHeader {
      position:absolute;
      top:0;
      left:0;
      right:0;
      width:100%;
      height: $header_height;
      border-bottom: $basic_border;
      line-height:$header_height - 1px;
      text-align: center;
      margin: 0 auto;
      box-sizing: border-box;

      $red: #e76f51;
      $yellow: #e9c46a;
      $green: #8db4ad;
      $orange:#f4a261;
      $blue:#264653;

      &.frontend{
        background-color:#e9c46a;
        color:#e76f51 ;
      }
      
      &.backend{
        color:$yellow;
        background-color: #264653;

        h2 {
          -webkit-text-stroke: 1px $orange;
        }
      }
      
      h2 {
        font-size: 2rem;
        font-family: 'Shrikhand', cursive;
        -webkit-text-stroke: 1px #264653;
        letter-spacing: 2px;
      }

    }

    // &:nth-child(1) .skillList{
    //     background-color:#e9c46a;
    // }

    .skillList {
      margin-top: $header_height;
      width:100%;
      height: 90%;
      overflow:auto;
      scrollbar-width: 5px;
      scroll-behavior: smooth;
      background-image: url(../img/pattern.png);
      background-repeat: repeat;
      background-size:150px 150px;
      // background-color:#264653;
      
      &::-webkit-scrollbar{
        width:5px;
      }

        .skill {
          list-style: none;
          width: 70%;
          min-height: 30vh;
          height:fit-content;
          margin: 20px auto;
          border: $basic_border;
          border-radius: 20px;
          background-color:#fff;
          position: relative;

          &.html svg {
            fill: #E34F26;
          }

          &.html svg {
            fill: #E34F26;
          }

          &.css svg {
            fill: #1572B6;
          }

          &.js svg {
            fill: #F7DF1E;
          }

          &.react svg {
            fill: #61DAFB;
          }

          &.node svg {
            fill: #339933;
          }

          &.mysql svg {
            fill: #4479A1;
          }

          &.next svg {
            fill: #000;
          }

          &.graphql svg {
            fill: #E10098;
          }

          .title {
            width: 100%;
            height: 40px;
            border-bottom: $basic_border;
            font-size: 1.1rem;
            font-weight: 700;
            line-height:40px;
            display:flex;
            gap: 10px;
    

            .buttons {
              width: 30%;
              height:100%;
              text-align: center;
              border-right: $basic_border;

              span {
                display:inline-block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color:yellow;
                margin: 12px 5px 0 5px;
                border: 1px solid #222;
         
                
                &:first-child{
                  background-color:#e76f51;
                }
                
                &:nth-child(2){
                  background-color: #e9c46a;
                }
                
                &:nth-child(3){
                  background-color: #2a9d8f;
                }
              }
            }

          }

          svg {
            width: 120px;
            height: 120px;
            display:block;
            margin: calc((30vh - 160px)/2) auto;
          }
        }
    }
  }

  .sidebar {
    width: calc(100% - 60vw - 80px);
    height: 100%;
    position: relative;

    .desc {
      width: 50%;
      height: 50%;
      border: $basic_border;
      position: absolute;
      top: 50%;
      left:30%;
      transform: translate(-50%,-50%);

      .head {
        width: 100%;
        height: 15%;
        border-bottom: $basic_border;
        
      }
    }
    


  }
}